table input[type="checkbox"] {
    visibility: hidden;
}

.controls form {
    margin: 3px;
}

.controls input, .controls select {
    border-radius: 5px;
    border: 1px solid var(--theme-foreground-fainter);
    background-color: var(--theme-background);
    padding: 3px 6px;
}