table input[type="checkbox"] {
    visibility: hidden;
}

.controls {
    .card {
        display: flex;
        flex-flow: column;
        gap: 5px;
    }
    input,
    select {
        border-radius: 5px;
        border: 1px solid var(--theme-foreground-fainter);
        background-color: var(--theme-background);
        padding: 3px 6px;
    }
}

.sugerencias {
    input {
        display: none;
    }

    label {
        padding: 3px 6px;
        margin: 2px !important;
        font-size: 0.8em;
        opacity: 0.5;
        border-radius: 3px;
        border: 1px solid var(--theme-foreground-fainter);
    }

    label:hover {
        background-color: var(--theme-background);
        border-color: var(--theme-foreground-faint);
        cursor: pointer;
    }
}

.dolar {
    font-size: .7rem;
    text-align: center;
    font-family: sans-serif;
}

#creditos {
    opacity: 0.8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4em 0 0 0;
    font-size: 0.6em;
    color: var(--base);
    gap: 1rem;

    .credito {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100px;
    }

    a {
        color: var(--base);
        text-decoration: underline dotted;
    }

}

.advertencia {
    
    font-size: .7rem;
    text-align: center;
    font-family: sans-serif;

    a {
        color: var(--theme-foreground);
        font-weight: bold;
        text-decoration: 1px dotted underline;
        text-underline-offset: 2px;
    }
}
.advertencia::before, .advertencia::after {
    content: "⚠️";
}